body {
    padding: 25px;
    padding-top: 0px;
    padding-right: 25px;
    background-color: #1e2124;
    color: black;
    font-size: 25px;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-mini {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 4.5%;
    left: 3%;
}

.chat-holder {
    position: absolute;
    height: 80%;
    width: 50%;
    left: 14%;
    border-radius: 3%;
    box-shadow: 10px 10px 100px 0px black;
    z-index: -1;
}

.chat-inner {
    position: absolute;
    top: 5%;
    height: 80%;
    width: 100%;
    overflow: auto;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    top: 88%;
    width: 90%;
    left: 1%;
}

.create-profile, .update-profilepicture {
    z-index: 25;
    height: 30vh;
    width: 35vw;
    background-color: #222426;
    position: absolute;
    border-radius: 35px;
    left: 21%;
    top: 28%;
}



.button-13 {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
}

.button-13:hover {
    background-color: #f7fafa;
}

.button-13:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.button-38:hover {
    background-color: rgb(249,250,251);
}

.button-38:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-38:focus-visible {
    box-shadow: none;
}

.send-button {
    fill: white;
    position: absolute;
    transform: rotate(90deg);
    top: 88.5%;
    left: 92.5%;
}

.message-box {
    display: block;
    position: relative;
    height: fit-content;/*125px;*/
    width: 98%;
    left: 1%;
    border-radius: 20px;
    z-index: 0;
    background-color: #222426;
}

ul {
    transform: rotate(180deg);
}
ul > li {
    transform: rotate(-180deg);
}

.people-holder {
    position: absolute;
    height: 80%;
    width: 20%;
    left: 66%;
    border-radius: 20px;
    box-shadow: 10px 10px 100px 0px black;
    z-index: -1;
}

#dark-mode {
    background-color: #282b30;
    color: white;
}

#wrapper {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
}

#wrapper > * {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
}
